# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Testing
coverage/
playwright-report/
test-results/

# Misc
.DS_Store
*.pem
npm-debug.log*
